params {
    reference = '/Volumes/vol/utsu/GitHub/NAR_2025/workflow/resources/spliceai/hg19_v0_Homo_sapiens_assembly19.fasta'
    annotation_gtf = '/Volumes/vol/utsu/GitHub/NAR_2025/workflow/resources/spliceai/grch37.txt'
    vep_data = '/Volumes/resources/vep/vep_data'
    vep_plugin_resources = '/Volumes/vol/utsu/GitHub/NAR_2025/workflow/resources/plugin_resources'
    ps_resources = '/Volumes/vol/utsu/GitHub/NAR_2025/workflow/resources'

    assembly = 'GRCh37' // Note: This script currently only supports genome build GRCh37.
}

process {
    executor = 'local'
    withName: 'SPLICEAI' {
        container = 'ps_spliceai:1.3.1'
    }
    withName: 'VEP' {
        container = 'ps_vep:113.4'
        containerOptions = "-u 0 -v ${params.vep_data}:/data -v ${params.vep_plugin_resources}:/plugin_resources"
    }
    withName: 'PS' {
        container = 'ps_scoring:0.1'
        containerOptions = "-v ${params.ps_resources}:/ps_resources"
    }
}
docker {
    enabled = true
}
